{% extends 'navigation.html' %}
{% block content %}
    <main role="main" class="col-md-9 m-auto col-lg-10 pt-3 px-4 justify-content-center">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
          <h1 class="h2">Таблица</h1>
          <div class="btn-toolbar mb-2 mb-md-0">
            <a href="{% url 'add_animal' name %}">
                <button class="btn btn-sm btn-outline-secondary">
                Добавить данные
                </button>
            </a>
          </div>
        </div>


        <h2>Учет животных, {{ name }}</h2>
        <form method="post">
          {% csrf_token %}
          <div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th># </th>
                  <th>Год </th>
                  <th>Регион</th>
                  <th>Количество</th>
                </tr>
              </thead>
              
                <tbody>
                  {% for record in records %}
                    <tr>
                        <td><input type="checkbox" name="data" value="{{ record.id }}"></td>
                        <td>{{ record.year }}</td>
                        <td>{{ record.animal.region }}</td>
                        <td>{{ record.number }}</td>
                    </tr>
                  {% endfor %}
                  <tr class="bg-success">
                    <td><strong>Итог</strong> </td>
                  </tr>
                </tbody>
              
            </table>
          </div>
          <button type="submit" class="btn btn-primary">Сравнить</button>
        </form>
        {% if percentage %}
          Разница между {{ percentage.region1}}, {{ percentage.first_val }} годом и {{ percentage.region2}}, {{ percentage.second_val }} годом <strong>{{ percentage.number }}</strong>%.
        {% else %}
          *Выделите два года для сравнения изменений 
        {% endif %}
      </main>
{% endblock %}
