{% extends 'navigation.html' %}
{% block content %}
      <main role="main">

        <section class="jumbotron text-center">
          <div class="container">
            <h1 class="jumbotron-heading">Data example</h1>
            <p class="lead text-muted">Выберите тип животного ччто-бы увидить данные о нем.</p>
          </div>
        </section>
  
        <div class="album py-5 bg-light">
          <div class="container">
  
            <div class="row">
              {% for animal in animal_list %}
              <div class="col-md-4">
                <div class="col-md-4">  
                  <a href="{% url 'animal_view' animal.name%}" class="btn" style="max-height: 225px; width: 100%; display: block; padding-top: 25%;">{{ animal.name }}</a>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
  
      </main>
{% endblock %}