{% extends 'navigation.html' %}
{% block content %}
    <main role="main" class="col-md-9 m-auto col-lg-10 pt-3 px-4 justify-content-center">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
          <h1 class="h2">Таблица</h1>
          <div class="btn-toolbar mb-2 mb-md-0">
            <a href="{% url 'add_crime' %}">
                <button class="btn btn-sm btn-outline-secondary">
                Добавить данные
                </button>
            </a>
          </div>
        </div>


        <h2>Количество уголовных дел</h2>
        <form method="post">
          {% csrf_token %}
          <div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Год / Вид животного</th>
                  <th>Сайга</th>
                  <th>Кр.книжные</th>
                  <th>Иные</th>
                  <th>Общий итог</th>
                  <th>Разница с прош. годом</th>
                </tr>
              </thead>
              
                <tbody>
                  {% for record in records %}
                    <tr>
                        <td><input type="checkbox" name="data" value="{{ record.year }}"></td>
                        <td>{{ record.year }}</td>
                        <td>{{ record.saiga }}</td>
                        <td>{{ record.red_book }}</td>
                        <td>{{ record.others }}</td>
                        <td>{{ record.total }}</td>
                        {% if record.percentage > 0 %}  
                          <td class="text-success">{{ record.percentage }}%</td>
                        {% else %}
                          <td class="text-danger">{{ record.percentage }}%</td>
                        {% endif %}
                    </tr>
                  {% endfor %}
                  <tr class="bg-success">
                    <td><strong>Итог</strong> </td>
                    <td></td>
                    <td>{{ saiga_total }}</td>
                    <td>{{ red_book_total }}</td>
                    <td>{{ other_total }}</td>
                    <td>{{ total_total }}</td>
                    <td></td>
                  </tr>
                </tbody>
              
            </table>
          </div>
          <button type="submit" class="btn btn-primary">Сравнить</button>
        </form>
        {% if percentage %}
          Разница между {{ percentage.first_val }} годом и {{ percentage.second_val }} годом {{ percentage.number }}%.
        {% else %}
          *Выделите два года для сравнения изменений 
        {% endif %}
      </main>
{% endblock %}