{% extends 'navigation.html' %}
{% block content %}
      <main role="main">

        <section class="jumbotron text-center">
          <div class="container">
            <h1 class="jumbotron-heading">Пример данных</h1>
            <p class="lead text-muted">Выберите типа данных который вам интересен</p>
          </div>
        </section>
  
        <div class="album py-5 bg-light">
          <div class="container">
  
            <div class="row">
              <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                  <a href="{% url 'animal_list' %}" class="btn" style="height: 225px; width: 100%; display: block; padding-top: 25%;">Учет животных</a>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                  <a href="{% url 'crime_number' %}" class="btn" style="height: 225px; width: 100%; display: block; padding-top: 25%;">Количество уголовных дел</a>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                  <a href="{% url 'crime_item_number' %}" class="btn" style="height: 225px; width: 100%; display: block; padding-top: 25%;">Изъятые дериваты</a>
                </div>
              </div>
            </div>
          </div>
        </div>
  
      </main>
{% endblock %}